.branding {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-gray;

    &__photo {
        max-width: 275px;

    }

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include breakpoint(portrait) {
            flex-direction: column;
            margin-bottom: 1rem;
        }
    }

    &__content {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: $font-family;
        color: $color-gray-font;
        @include h5;
        word-spacing: 5px;
        line-height: 20px;

        @include breakpoint(portrait) {
            order: -1;
            width: 100%;
            padding: 1rem;
            margin-bottom: 2rem;

        }

        &-header {
            @include h2;
            margin-bottom: .5em;
            color: $color-black;

            @include breakpoint(portrait) {
                text-align: center;
                padding: 2rem;
            }
        }

        &-paragraph {
            &:not(:last-child) {
                margin-bottom: 1em;
            }
        }

    }


}