.clients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 92rem;
  padding-top: 4.5rem;
  background-color: $color-gray;

  &__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 4.5rem;
  }

  &__header {
    font-size: 5.7rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1.5rem;

    @include breakpoint(portrait) {
      text-align: center;
    }

    @include breakpoint(phablet) {
      font-size: 4.5rem;
    }
  }

  &__paragraph {
    font-size: 1.8rem;
    text-align: center;
    color: $color-gray-font;
    margin-bottom: 5rem;

    @include breakpoint(portrait) {
      text-align: center;
    }
  }

  &__description {
    position: relative;
    display: flex;
    flex: none;
    align-items: center;
    margin-bottom: 4rem;
    opacity: 0;
    transform: translateX(-30%);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;

    &.is-scroll {
      opacity: 1;
      transform: translateX(0);
    }

    &:nth-child(even) {
      justify-content: flex-end;
      transform: translateX(30%);
      &.is-scroll {
        transform: translateX(0);
      }
    }

    & > :not(:last-child) {
      margin-right: 5rem;

      @include breakpoint(portrait) {
        margin-right: 0;
      }
    }

    @include breakpoint(portrait) {
      flex-direction: column;
    }

    &-content {
      max-width: 64rem;
      position: relative;
      display: flex;
      flex-direction: column;
      padding-top: 5rem;
      padding-left: 8rem;
      padding-bottom: 5rem;
      padding-right: 6rem;
      font-size: 2rem;
      line-height: 1.5;
      color: $color-gray-font;
      background-color: $color-white;

      @include breakpoint(phablet) {
        padding-top: 2rem;
        padding-left: 4rem;
        padding-bottom: 2rem;
        padding-right: 3rem;
      }

      &:nth-child(even)::before {
        content: '';
        position: absolute;
        right: 100%;
        top: 50%;
        width: 0;
        height: 0;
        transform: translateY(-50%);
        border-top: 15px solid transparent;
        border-right: 23px solid $color-white;
        border-bottom: 15px solid transparent;

        @include breakpoint(portrait) {
          display: none;
        }
      }

      &:nth-child(odd)::before {
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        width: 0;
        height: 0;
        transform: translateY(-50%);
        border-top: 15px solid transparent;
        border-left: 23px solid $color-white;
        border-bottom: 15px solid transparent;

        @include breakpoint(portrait) {
          display: none;
        }
      }
    }

    &-photo {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      background-color: black;
      flex: none;
      overflow: hidden;
      background-position: center;
      background-repeat: none;
      background-size: cover;
      @include breakpoint(portrait) {
        margin-bottom: 2rem;
      }

      &:nth-child(even) {
        @include breakpoint(portrait) {
          order: -1;
        }
      }
    }

    &-person {
      color: $color-blue-font;
      font-size: 1.8rem;
      margin-left: 1rem;
    }

    &-paragraph {
      margin-bottom: 0.7em;
    }
  }

  &__footer {
    background-color: $color-white;
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;

    &-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;

      @include breakpoint(portrait) {
        flex-wrap: wrap;
      }
    }

    &-item {
      text-align: center;

      @include breakpoint(phablet) {
        width: 50%;
      }

      @include breakpoint(mobile) {
        width: 100%;
      }

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    &-photo {
      @include breakpoint(portrait) {
        padding: 1rem;
      }
    }
  }
}
