.contact {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    background-color: $color-blue;
    color: $color-white;

    &__container {
        display: flex;
        justify-content: center;

    }

    &__description {
        display: flex;
        flex-direction: column;

    }

    &__header {
        @include h1;
        text-align: center;

        @include breakpoint(portrait) {
            padding: 0;
            padding-bottom: .5em;
        }

        @include breakpoint(phablet) {
            @include h2;
        }
    }

    &__social {
        columns: 2 auto;
        padding: 1em;

        @include breakpoint(portrait) {
            columns: 1 auto;
            margin: 0 auto;
        }

        &-item {
            @include h4;
        }
    }

    &__paragraph {
        @include h4;
        text-align: center;
        padding: .7em;

        @include breakpoint(portrait) {
            padding: 1em;
        }
    }
}