.contact {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    min-height: 80vh;
    background-color: $color-blue;
    color: $color-white;

    &__container {
        display: flex;
        justify-content: center;

    }

    &__description {
        display: flex;
        flex-direction: column;

    }

    &__header {
        @include h1;
        text-align: center;
        padding: .8em;

        @include breakpoint(portrait) {
            padding: 0;
            padding-bottom: .5em;
        }
    }

    &__social {
        columns: 2 auto;
        padding: 1rem;

        @include breakpoint(portrait) {
            columns: 1 auto;
        }

        &-item {
            height: 3em;
            display: flex;
            align-items: center;
            padding: 3em;
            @include h4;

        }


        &-icon {
            padding-right: .6em;
        }
    }

    &__paragraph {
        @include h4;
        text-align: center;
        padding: .7em;

        @include breakpoint(portrait) {
            padding: 1em;
        }
    }
}