.footer {
    padding-bottom: 1rem;
    background-color: $color-blue;
    color: white;
    text-align: center;

    &-copyrights {
        @include h4;
        padding-top: 1rem;
        border-top: 1px solid rgba($color-white, .5);
    }
}