.header {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    @include h2;
    z-index: 99;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__logo {
        @include breakpoint(phablet) {
            width: 20rem;
            margin-left: 2rem;
        }
    }
}