.header {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    @include h3;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        @include breakpoint(phablet) {
            width: 20rem;
            margin-left: 2rem;
        }
    }
}