.home {
    position: relative;
    min-height: 62rem;
    display: flex;
    background-image: url(../img/Image.png);
    background-position: center;
    background-size: cover;

    @include breakpoint(portrait) {
        min-height: 100vh;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }


    .wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: $color-white;




        .home__head {
            margin-top: 13rem;
            margin-bottom: 4.8rem;

            font-size: 2.5rem;
            font-weight: 200;

            @include breakpoint(portrait) {
                font-size: 1.5rem;
            }

            &--big {
                font-size: 6rem;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 7.5rem;
                font-family: 'Open Sans', sans-serif;


                @include breakpoint(portrait) {
                    font-size: 4rem;
                }
            }
        }

        .button {
            @include button;
            margin-left: auto;
            margin-right: auto
        }
    }



}