.home {
    min-height: 100vh;
    display: flex;
    background-image: url(../img/Image.png);
    background-position: center;
    background-size: cover;

    .wrapper {

        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: $color-white;

        .home__head {
            margin-top: 140px;
            margin-bottom: 30px;
            @include h3;

            @include breakpoint(portrait) {
                @include h4;
            }

            &--big {
                @include h1;
                font-weight: bold;

                @include breakpoint(portrait) {
                    @include h2;
                }
            }
        }

        .button {
            @include button;
            margin-left: auto;
            margin-right: auto
        }
    }
}