// font mixins

@mixin h1 {
    font-size: $font-size-h1;
    line-height: $line-height-h1;
}

@mixin h2 {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
}

@mixin h3 {
    font-size: $font-size-h3;
    line-height: $line-height-h3;
}

@mixin h4 {
    font-size: $font-size-h4;
    line-height: $line-height-h4;
}

@mixin h5 {
    font-size: $font-size-h5;
    line-height: $line-height-h5;
}

// button mixin

@mixin button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 240px;
    min-height: 64px;
    padding: .65em;
    color: $color-white;
    background-color: transparent;
    border: 2px solid $color-white;
    margin-top: 8rem;
    margin-bottom: 3rem;
    @include h3;
    border-radius: .3rem;
    cursor: pointer;
    transition: .2s;

    &:hover {
        background-color: $color-white;
        color: $color-black;
        transform: scale(1.05)
    }

    @include breakpoint(portrait) {
        min-width: 310px;
        min-height: 90px;
    }

    @include breakpoint(phablet) {
        min-width: 220px;
        min-height: 40px;
    }
}

// mixin media-queries
@mixin breakpoint($point) {
    @if $point==desktop {
        @media screen and (min-width: 1440px) {
            @content;
        }
    }

    @else if $point==laptop {
        @media screen and (max-width: 1439px) {
            @content;
        }
    }

    @else if $point==tablet {
        @media screen and (max-width: 1279px) {
            @content;
        }
    }

    @else if $point==portrait {
        @media screen and (max-width: 1023px) {
            @content;
        }
    }

    @else if $point==phablet {
        @media screen and (max-width: 767px) {
            @content;
        }
    }

    @else if $point==mobile {
        @media screen and (max-width: 519px) {
            @content;
        }
    }

    @else if $point==narrow {
        @media screen and (max-width: 374px) {
            @content;
        }
    }
}

// @include breakpoint(mobile) {
//     font-size: 30px;
// }