.navbar {
    &__list {
        min-width: 400px;
        display: flex;
        justify-content: space-around;
        color: $color-white;
        @include h4;

        @include breakpoint(portrait) {
            display: none;
        }

    }


}

.menu__icon {
    max-width: 20px;
    max-height: 20px;
    display: none;
    cursor: pointer;

    &--open {
        @include breakpoint(portrait) {
            display: block;
        }
    }
}