//OSOBNY KURWA!!!!

.navbar {
    &__list {
        min-width: 400px;
        display: flex;
        justify-content: space-around;
        color: $color-white;
        @include h4;

    }


}

.menu-icon {
    max-width: 20px;
    max-height: 20px;
    display: none;
    cursor: pointer;
}