.services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;


    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include breakpoint(portrait) {
            flex-direction: column;
            margin-bottom: 1rem;
        }

    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: $font-family;
        color: $color-gray-font;
        @include h3;
        padding: 0 4rem;


        @include breakpoint(portrait) {
            order: -1;
            width: 100%;
            margin-bottom: 2rem;

        }

        &-header {
            @include h1;
            margin-bottom: .5em;
            color: $color-black;

            @include breakpoint(portrait) {
                text-align: center;
                padding: 1rem;
            }

            @include breakpoint(phablet) {
                @include h2;
            }
        }

        &-paragraph {
            &:not(:last-child) {
                margin-bottom: 1em;
            }
        }

    }

    &--even {
        background-color: $color-gray;
    }
}