.services {
    display: flex;
    padding-top: 9rem;
    padding-bottom: 9rem;
    align-items: flex-start;
    font-family: $font-family;


    &__container {
        max-width: 90rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include breakpoint(portrait) {
            flex-direction: column;
            margin-bottom: 1rem;
        }

    }

    &__content {
        max-width: 58rem;
        display: flex;
        flex-direction: column;
        color: $color-gray-font;
        @include h4;


        @include breakpoint(portrait) {
            order: -1;
            width: 100%;
            margin-bottom: 2rem;

        }

        &-header {
            font-size: 4.7rem;
            font-weight: 300;
            margin-bottom: 5rem;
            color: $color-black;

            @include breakpoint(portrait) {
                text-align: center;
                padding: 1rem;
            }

            @include breakpoint(phablet) {
                @include h2;
            }
        }

        &-paragraph {
            &:not(:last-child) {
                margin-bottom: 2em;
            }
        }

    }

    &--even {
        background-color: $color-gray;
    }
}