.skills {
    width: 470px;
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    transition: opacity 300ms 50ms;
    padding-left: 5rem;

    @include breakpoint(portrait) {
        width: 320px;
        margin-left: 1.5rem;
    }

    &__photo {
        align-self: flex-start;

        @include breakpoint(phablet) {
            width: 7rem;
        }
    }


    &__content {
        width: 300px;
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        @include h4;

    }

    &__header {
        font-weight: bold;
        margin-bottom: .5rem;
        @include h4;
    }

    &__paragraph {
        color: $color-gray-font;
    }

    &.is-opacified {
        opacity: .25;
    }
}

.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.skill-hovered {
    opacity: 1;
    transform: scale(1.05)
}