.team {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 9rem;
  padding-bottom: 9rem;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 85rem;
  }

  &__header {
    font-size: 5.7rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 2rem;

    @include breakpoint(portrait) {
      text-align: center;
    }

    @include breakpoint(phablet) {
      font-size: 4.5rem;
    }
  }

  &__paragraph-first {
    font-size: 1.8rem;
    color: $color-gray-font;
    text-align: center;
    margin-bottom: 7.8rem;

    @include breakpoint(portrait) {
      text-align: center;
    }
  }

  &__people {
    max-width: 90rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3.2rem;

    @include breakpoint(portrait) {
      display: block;
    }
  }

  &__paragraph-second {
    font-size: 1.5rem;
    line-height: 1.7;
    text-align: center;

    @include breakpoint(phablet) {
      @include h4;
    }
  }
}

.person {
  text-align: center;
  font-weight: 300;
  opacity: 0;
  transform: scaleX(0.5);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  &.is-scroll {
    opacity: 1;
    transform: scaleX(1);
  }

  @include breakpoint(portrait) {
    margin-bottom: 5rem;
  }

  &__name {
    @include h4;
    font-weight: 500;
  }

  &__role {
    @include h4;
    margin: 0 auto;
  }

  &__social-icon {
    padding: 0.5em;
  }

  &__photo {
    width: 230px;
    height: 230px;
    border: 6px solid white;
    border-radius: 50%;
    margin-bottom: 1.2rem;
    overflow: hidden;

    @include breakpoint(portrait) {
      margin: 0.5rem auto;
    }
  }
}
