.team {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding-top: 100px;

    &__container {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    &__header {
        @include h1;
        margin: 0 auto;
    }

    &__paragraph-first {
        @include h4;
        color: $color-gray-font;
        margin: 15px auto 15px auto;
    }

    &__people {
        display: flex;
        justify-content: space-between;

    }

    &__paragraph-second {
        margin-top: 50px;
        padding: 20px;
        @include h3;
        text-align: center;
    }
}

.person {
    margin-top: 70px;
    text-align: center;

    &__name {
        @include h4;
        margin: 0 auto;
        margin-top: 17px;
    }

    &__role {
        @include h5;
        margin: 0 auto;
        margin-top: 10px;
    }

    &__social-icon {
        margin-top: 10px;
        padding: 5px;
    }

    &__photo {
        width: 216px;
        height: 216px;
        border: 2px solid white;
        border-radius: 50%;
    }
}

.link-size:hover {
    opacity: 0.5;
}